@charset "UTF-8";
/*MAIN ACTION*/
/*BACKGROUND*/
/*GRADIENT*/
/*BORDER*/
@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");
.btn--full {
  /* BOTÃO 1 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 225px;
  height: 61px;
  background: #F89D24;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.btn--outline {
  /* BOTÃO 2 */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 225px;
  height: 61px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

/*MAIN ACTION*/
/*BACKGROUND*/
/*GRADIENT*/
/*BORDER*/
:root {
  font-size: 62.5%;
  font-family: "Yantramanav", "Arial", sans-serif;
  scroll-behavior: smooth; }

* {
  box-sizing: border-box; }
  * a {
    text-decoration: none;
    text-transform: uppercase; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: radial-gradient(circle, #2c2c2c 0%, #1a1a1a 100%); }

.container {
  margin: auto;
  max-width: 1440px;
  max-height: 840px;
  padding: 25px 120px; }

main {
  min-height: 100vh; }
  main > div[class*="title"] {
    display: flex;
    align-items: center;
    justify-content: center; }
  main > .main__title {
    margin-top: 125px;
    text-align: center;
    color: white; }
    main > .main__title h1 {
      font-size: 6.4rem;
      margin: 0 0 35px 0;
      max-width: 750px;
      width: auto;
      font-weight: 400; }
  main .main__sub-title {
    text-align: center;
    font-size: 2.4rem;
    color: #b5b5b5; }
    main .main__sub-title p {
      width: auto;
      max-width: 583px;
      margin: 0; }
  main #callToAction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 65px 0 20px 0; }
    main #callToAction a :hover {
      background: #FFA700; }

section.container--section {
  max-height: 840px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px 100px 120px; }
  section.container--section .leftArea {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column; }
    section.container--section .leftArea__textArea {
      width: 100%;
      padding: 0 50px 0 70px;
      display: flex;
      flex-direction: column;
      color: white; }
      section.container--section .leftArea__textArea .leftArea__title,
      section.container--section .leftArea__textArea .leftArea__desc {
        max-width: 368px;
        height: auto;
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 15px; }
      section.container--section .leftArea__textArea .leftArea__title h2 {
        font-size: 6.4rem;
        padding-top: 120px;
        font-weight: 400;
        margin: 0; }
      section.container--section .leftArea__textArea .leftArea__desc p {
        font-size: 2rem; }
        section.container--section .leftArea__textArea .leftArea__desc p span {
          font-weight: 700; }
    section.container--section .leftArea #leftArea__callToAction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 0;
      margin-top: 0;
      padding: 0 50px 0 70px; }
      section.container--section .leftArea #leftArea__callToAction div {
        width: 100%; }
        section.container--section .leftArea #leftArea__callToAction div p {
          color: white;
          font-size: 1.6rem;
          margin: 0;
          text-align: end;
          padding-right: 66px; }
    section.container--section .leftArea__buttonArea {
      display: flex;
      flex-direction: row;
      gap: 30px; }
      section.container--section .leftArea__buttonArea a {
        width: 100%; }
        section.container--section .leftArea__buttonArea a :hover {
          background: #FFA700; }
  section.container--section .rightArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 545px;
    height: 660px;
    gap: 30px; }
    section.container--section .rightArea__card {
      width: 258px;
      height: 255px;
      border: 1px solid #6E6E6E; }
      section.container--section .rightArea__card .rightArea__image {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px; }
        section.container--section .rightArea__card .rightArea__image img.rightArea__image--section01 {
          width: 98px;
          height: 96px; }
      section.container--section .rightArea__card .rightArea__textArea {
        width: 100%;
        height: auto;
        padding: 20px;
        font-size: 1.6rem;
        font-weight: 700; }
        section.container--section .rightArea__card .rightArea__textArea .rightArea__title h3 {
          text-transform: uppercase;
          margin: 0;
          color: #F89D24; }
        section.container--section .rightArea__card .rightArea__textArea .rightArea__desc p {
          margin: 0;
          color: #b5b5b5; }
  section.container--section #container--section__callToAction {
    display: none; }

section.bannerValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url(../images/HexagonosBackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 0 120px; }
  section.bannerValue .bannerValue__textArea h3 {
    max-width: 706px;
    font-size: 4.8rem;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 66px 40px;
    line-height: 52.5px; }
  section.bannerValue .bannerValue__callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    height: auto;
    background-color: #F89D24;
    padding: 60px 28px;
    margin-block: 40px; }
    section.bannerValue .bannerValue__callToAction a :hover {
      background: #FF6A00;
      color: white; }
    section.bannerValue .bannerValue__callToAction p {
      width: 368px;
      color: white;
      font-size: 6.4rem;
      margin: 0 0 25px 0; }
    section.bannerValue .bannerValue__callToAction .btn--value {
      color: #F89D24;
      background: white; }

section.competencesBackground {
  padding: 116px 0;
  background-image: url(../images/teacherBig.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  section.competencesBackground .container--components {
    display: flex;
    flex-direction: column;
    height: auto; }
    section.competencesBackground .container--components .leftArea {
      display: none; }
    section.competencesBackground .container--components .accordionArea {
      display: flex;
      flex-direction: column;
      position: relative;
      height: auto; }
      section.competencesBackground .container--components .accordionArea__items {
        display: flex;
        flex-direction: column; }
        section.competencesBackground .container--components .accordionArea__items .accordionArea__item {
          display: flex;
          flex-direction: column; }
          section.competencesBackground .container--components .accordionArea__items .accordionArea__item input {
            display: none; }
          section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__title {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 460px;
            max-height: 50px;
            height: auto;
            background-color: #686868;
            padding: 60px 15px 40px 15px; }
            section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__title .accordionArea__label {
              display: flex;
              margin-bottom: 5px; }
              section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__title .accordionArea__label label {
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-size: 3.2rem;
                font-weight: 400;
                color: white;
                margin: 0;
                cursor: pointer; }
                section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__title .accordionArea__label label svg {
                  display: none; }
            section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__title div.accordionArea__line {
              visibility: hidden;
              align-self: flex-end;
              width: 75%;
              height: 2px;
              background-color: #F89D24; }
          section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__desc--desktop {
            visibility: hidden;
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            position: absolute;
            left: 460px;
            top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 100px 125px 50px 125px;
            background-color: #262626; }
            section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__desc--desktop p {
              color: white;
              font-size: 2rem;
              font-weight: 100;
              margin: 0 0 15px 0;
              max-width: 569px; }
            section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__desc--desktop .accordionArea__linksArea {
              max-width: 350px;
              display: flex;
              justify-content: flex-end;
              gap: 30px;
              font-size: 2rem;
              margin-bottom: 20px; }
              section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__desc--desktop .accordionArea__linksArea a {
                color: white; }
                section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__desc--desktop .accordionArea__linksArea a span {
                  color: #F89D24; }
          section.competencesBackground .container--components .accordionArea__items .accordionArea__item [id^="accordion"]:checked ~ .accordionArea__desc--desktop {
            visibility: visible; }
          section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__desc--mobile {
            display: none;
            flex-direction: column;
            align-items: center;
            padding: 25px 32px;
            background-color: #262626; }
            section.competencesBackground .container--components .accordionArea__items .accordionArea__item .accordionArea__desc--mobile p {
              color: white;
              font-size: 2rem;
              font-weight: 100;
              margin: 0;
              max-width: 350px; }
  section.competencesBackground #competencesBackground__callToAction {
    display: none; }

section.container--section03 {
  flex-direction: column; }
  section.container--section03 .leftArea {
    justify-content: flex-start; }
  section.container--section03 .rightArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 18px; }
    section.container--section03 .rightArea .rightArea__card {
      max-width: 317px;
      width: 100%;
      height: auto;
      border: 1px solid #6E6E6E; }
      section.container--section03 .rightArea .rightArea__card .rightArea__image img.rightArea__image--section03 {
        width: 100%;
        height: fit-content;
        max-width: 267px;
        max-height: 234px; }
      section.container--section03 .rightArea .rightArea__card .rightArea__title h3 {
        text-transform: uppercase;
        margin: 0;
        color: #F89D24; }
      section.container--section03 .rightArea .rightArea__card .rightArea__desc p {
        margin: 0;
        color: #b5b5b5; }
  section.container--section03 #callToAction {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 60px 0 80px 0;
    gap: 30px; }
    section.container--section03 #callToAction a :hover {
      background: #FFA700; }

@media only screen and (max-width: 1400px) {
  section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title {
    width: 420px; }
  section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__desc--desktop {
    padding: 100px 80px 65px 80px;
    left: 420px; } }

@media only screen and (max-width: 1234px) {
  section.container--section {
    max-height: max-content;
    flex-direction: column;
    padding: 0 120px 100px 120px; }
    section.container--section .leftArea {
      max-width: 100%;
      flex-direction: row; }
      section.container--section .leftArea__textArea .leftArea__desc {
        max-width: 415px; }
      section.container--section .leftArea #leftArea__callToAction {
        width: 428px;
        padding: 0 0px 0 100px; }
        section.container--section .leftArea #leftArea__callToAction p {
          text-align: start;
          padding-right: 0;
          margin-bottom: 10px; }
      section.container--section .leftArea__buttonArea {
        flex-direction: column; }
    section.container--section .rightArea {
      align-self: center; }
  section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title {
    width: 296px; }
  section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__desc--desktop {
    padding: 100px 30px 65px 30px;
    left: 296px; } }

@media only screen and (max-width: 1024px) {
  .container {
    padding: 25px 40px; }
  section.container--section {
    padding: 0 40px 80px 40px; }
    section.container--section .leftArea #leftArea__callToAction {
      width: 238px;
      padding: 0; }
  section.bannerValue {
    padding: 0; }
    section.bannerValue .bannerValue__callToAction {
      width: 300px; }
      section.bannerValue .bannerValue__callToAction p {
        width: 300px;
        font-size: 4.8rem; }
      section.bannerValue .bannerValue__callToAction .btn--full {
        width: 200px; }
  section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title {
    width: 230px;
    padding: 60px 15px 40px 15px; }
  section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__desc--desktop {
    left: 230px; } }

@media only screen and (max-width: 820px) {
  main {
    height: 740px; }
  section.competencesBackground {
    background-position: left; }
    section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title {
      width: 296px; }
    section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__desc--desktop {
      padding: 100px 20px 45px 20px;
      left: 296px; }
      section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__desc--desktop .accordionArea__linksArea {
        font-size: 1.8rem; } }

@media only screen and (max-width: 767px) {
  .container {
    padding: 25px 40px; }
  main .main__logo svg {
    width: 68px;
    height: 56px; }
  section#content--banner {
    display: flex;
    width: 100%;
    background-image: url(../images/teacher.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 0 40px 60px 40px; }
  section.container--section {
    padding: 0 40px 80px 40px; }
    section.container--section .leftArea #leftArea__callToAction {
      width: 238px;
      padding: 0; }
  section.bannerValue {
    flex-direction: column; }
    section.bannerValue .bannerValue__textArea h3 {
      width: 100%;
      font-size: 4.8rem;
      margin: 0;
      padding: 35px 25px; }
    section.bannerValue .bannerValue__callToAction {
      width: 100%;
      height: auto;
      padding: 35px 64px;
      margin-block: 0; }
      section.bannerValue .bannerValue__callToAction p {
        font-size: 4.8rem; }
      section.bannerValue .bannerValue__callToAction .btn--value p {
        padding: 35px 25px;
        margin: 0; }
  section.competencesBackground {
    height: 1040px;
    padding: 0; }
    section.competencesBackground .container--components {
      height: 100vh;
      padding-top: 0;
      justify-content: space-between; }
      section.competencesBackground .container--components .leftArea {
        max-width: 500px;
        height: auto;
        display: flex;
        flex-direction: column; }
        section.competencesBackground .container--components .leftArea__textArea {
          width: 100%;
          padding: 0 50px 0 70px;
          display: flex;
          flex-direction: column;
          color: white; }
          section.competencesBackground .container--components .leftArea__textArea .leftArea__title,
          section.competencesBackground .container--components .leftArea__textArea .leftArea__desc {
            max-width: 368px;
            height: auto;
            display: flex;
            align-items: flex-start;
            text-align: left;
            margin-bottom: 15px; }
          section.competencesBackground .container--components .leftArea__textArea .leftArea__title h2 {
            font-size: 6.4rem;
            padding-top: 120px;
            font-weight: 400;
            margin: 0; }
          section.competencesBackground .container--components .leftArea__textArea .leftArea__desc p {
            font-size: 2rem; }
            section.competencesBackground .container--components .leftArea__textArea .leftArea__desc p span {
              font-weight: 700; }
        section.competencesBackground .container--components .leftArea #leftArea__callToAction {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 0;
          margin-top: 0;
          padding: 0 50px 0 70px; }
          section.competencesBackground .container--components .leftArea #leftArea__callToAction div {
            width: 100%; }
            section.competencesBackground .container--components .leftArea #leftArea__callToAction div p {
              color: white;
              font-size: 1.6rem;
              margin: 0;
              text-align: end;
              padding-right: 66px; }
        section.competencesBackground .container--components .leftArea__buttonArea {
          display: none; }
      section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title {
        width: 100%;
        padding: 10px 20px;
        max-height: 70px; }
        section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title .accordionArea__label {
          width: 100%;
          justify-content: space-between;
          align-items: center; }
          section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title .accordionArea__label label {
            font-size: 2rem; }
          section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__title .accordionArea__label svg {
            display: block;
            transform: rotate(180deg); }
      section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item [id^="accordion"]:checked ~ .accordionArea__desc--mobile {
        display: flex; }
      section.competencesBackground .container--components .accordionArea .accordionArea__items .accordionArea__item .accordionArea__desc--desktop {
        display: none; }
      section.competencesBackground .container--components #competencesBackground__callToAction {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-block: 30px; }
  section.container--section03 {
    flex-direction: column; }
    section.container--section03 .leftArea {
      justify-content: flex-start; }
    section.container--section03 .rightArea {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      gap: 18px; }
      section.container--section03 .rightArea .rightArea__card {
        max-width: 317px;
        width: 100%;
        height: auto;
        border: 1px solid #6E6E6E; }
        section.container--section03 .rightArea .rightArea__card .rightArea__image img.rightArea__image--section03 {
          width: 100%;
          height: fit-content;
          max-width: 267px;
          max-height: 234px; }
        section.container--section03 .rightArea .rightArea__card .rightArea__title h3 {
          text-transform: uppercase;
          margin: 0;
          color: #F89D24; }
        section.container--section03 .rightArea .rightArea__card .rightArea__desc p {
          margin: 0;
          color: #b5b5b5; }
      section.container--section03 .rightArea .rightArea__card:nth-last-child(-n + 2) {
        display: none; }
    section.container--section03 #callToAction {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 60px 0 80px 0;
      gap: 30px; } }

@media only screen and (max-width: 600px) {
  main {
    height: 840px;
    max-height: 920px; }
    main > .main__title {
      margin-top: 20px; }
      main > .main__title h1 {
        font-size: 4.8rem; }
    main .main__sub-title {
      font-size: 1.4rem;
      color: #b5b5b5; }
    main #callToAction {
      flex-direction: column; }
  section.container--section {
    max-height: max-content;
    flex-direction: column; }
    section.container--section .leftArea {
      max-width: 100%;
      flex-direction: row; }
      section.container--section .leftArea__squareStyle svg {
        width: 100px;
        height: 100px; }
      section.container--section .leftArea__textArea {
        padding: 0 0 0 10px; }
        section.container--section .leftArea__textArea .leftArea__title {
          max-width: 278px; }
          section.container--section .leftArea__textArea .leftArea__title h2 {
            padding-top: 45px;
            font-size: 4.8rem; }
        section.container--section .leftArea__textArea .leftArea__desc {
          max-width: 100%; }
      section.container--section .leftArea #leftArea__callToAction {
        display: none; }
    section.container--section .rightArea {
      flex-direction: row;
      align-self: center;
      height: auto;
      width: 100%; }
      section.container--section .rightArea__card {
        max-width: 258px;
        width: 100%;
        height: auto; }
    section.container--section #container--section__callToAction {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-block: 35px;
      gap: 30px; }
      section.container--section #container--section__callToAction a :hover {
        background: #FFA700; }
  section.competencesBackground {
    background-position: left; }
    section.competencesBackground .container--components .leftArea__squareStyle svg {
      width: 100px;
      height: 100px; }
    section.competencesBackground .container--components .leftArea__textArea {
      padding: 0 0px 0 10px; }
      section.competencesBackground .container--components .leftArea__textArea .leftArea__title h2 {
        padding-top: 45px;
        font-size: 4.8rem; }
  section.container--section03 #callToAction {
    flex-direction: column;
    align-items: center; } }

@media only screen and (max-width: 300px) {
  .container {
    padding: 25px 15px; }
  main > .main__title h1 {
    font-size: 3.2rem; }
  section.container--section .leftArea__title h2 {
    font-size: 4.8rem;
    padding-top: 140px;
    font-weight: 400;
    margin: 0; }
  section.container--section #container--section__callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 35px;
    gap: 30px; }
    section.container--section #container--section__callToAction .btn--outline,
    section.container--section #container--section__callToAction .btn--full {
      width: 165px; } }
