@charset "UTF-8";
/*MAIN ACTION*/
/*BACKGROUND*/
/*GRADIENT*/
/*BORDER*/
@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");
.full {
  /* BOTÃO 1 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 225px;
  height: 61px;
  background: #F89D24;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.outline {
  /* BOTÃO 2 */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 225px;
  height: 61px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

/*MAIN ACTION*/
/*BACKGROUND*/
/*GRADIENT*/
/*BORDER*/
:root {
  font-size: 62.5%;
  font-family: "Yantramanav", "Arial", sans-serif; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  height: 100vh;
  padding: 25px 120px;
  background: radial-gradient(circle, #2c2c2c 0%, #1a1a1a 100%); }

.container--section {
  height: auto;
  padding: 0 120px 100px 120px; }

main {
  min-height: 740px; }
  main > div[class*="title"] {
    display: flex;
    align-items: center;
    justify-content: center; }
  main .main__logo {
    width: 110px;
    height: 90px; }
    main .main__logo svg {
      width: 100%;
      height: auto; }
  main > .main__title {
    margin-top: 125px;
    text-align: center;
    color: white; }
    main > .main__title h1 {
      font-size: 6.4rem;
      margin: 0 0 35px 0;
      max-width: 750px;
      width: auto;
      font-weight: 400; }
  main .main__sub-title {
    text-align: center;
    font-size: 2.4rem;
    color: #b5b5b5; }
    main .main__sub-title p {
      width: auto;
      max-width: 583px;
      margin: 0; }
  main #callToAction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 65px 0 20px 0; }

section .container--section01 {
  display: flex;
  flex-direction: row;
  padding: 0 120px 100px 120px; }

section .left-area--section01 {
  display: flex;
  flex-direction: column; }

section .left-area__textArea {
  display: flex;
  flex-direction: column; }

section .left-area__textArea__titleArea__squareStyle svg {
  position: absolute; }

section .left-area__textArea__titleArea {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px; }

section .left-area__textArea__callToAction__buttonArea {
  display: flex;
  flex-direction: row;
  gap: 30px; }

section#content {
  display: flex;
  flex-direction: row;
  padding: 0 120px 100px 120px; }

section#content--banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 116px 145px 116px 160px;
  background-image: url(../images/teacher.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat; }

section#content--section03 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 120px 100px 120px;
  background: radial-gradient(circle, #2c2c2c 0%, #1a1a1a 100%); }

section #left-area__textArea__callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 0;
  margin-top: 0;
  margin-left: 77px; }

section #content__textArea__callToAction div {
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }

section #content__textArea__callToAction .outline {
  margin-bottom: 30px; }

section #content__textArea__callToAction p {
  color: white;
  font-size: 1.6rem;
  margin: 0;
  padding-left: 110px; }

section .left-area__textArea__titleArea--title,
section .left-area__textArea__titleArea--desc {
  text-align: left; }

section .left-area__textArea__titleArea--title {
  width: 100%; }

section .left-area__textArea__titleArea--title h2 {
  width: 368px;
  font-size: 6.4rem;
  padding-left: 77px;
  padding-top: 120px;
  font-weight: 400;
  color: white;
  margin: 0; }

section .left-area__textArea__titleArea--desc {
  width: 460px; }

section .left-area__textArea__titleArea--desc p {
  font-size: 2rem;
  padding-left: 77px;
  color: white;
  margin-bottom: 80px; }

section .left-area__textArea__titleArea--desc p span {
  font-weight: 700; }

section .content__cardArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 660px;
  gap: 18px; }

section .content__cardArea__card {
  width: 258px;
  height: 255px;
  border: 1px solid #6E6E6E; }

section .content__card__photo {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px; }
  section .content__card__photo img.content__card__photo--section01 {
    width: 98px;
    height: 96px; }

section .content__card__textArea {
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: 700; }

section .content__card__textArea-title h5 {
  text-transform: uppercase;
  margin: 0;
  color: #F89D24; }

section .content__card__textArea-desc p {
  margin: 0;
  color: #b5b5b5; }

section#content #callToAction {
  display: none; }

section.valueArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url(../images/HexagonosBackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 0 120px; }

section .valueArea__slogan h5 {
  max-width: 706px;
  font-size: 4.8rem;
  font-weight: 400;
  color: white;
  padding: 66px 40px;
  line-height: 52.5px; }

section .valueArea__valueButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 660px;
  height: auto;
  background-color: #F89D24;
  padding: 76px 28px;
  margin-block: 40px; }

section .valueArea__valueButton p {
  width: 368px;
  color: white;
  font-size: 6.4rem;
  margin: 0 0 25px 0; }

section .valueArea__valueButton .full {
  color: #F89D24;
  background: white; }

section#content--banner .left-area {
  display: none; }

section .content--banner__competences-cards {
  display: flex;
  flex-direction: column;
  height: auto; }

section .content--banner__competences-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: auto;
  background-color: #686868;
  padding: 40px 14px 15px 20px; }

section .content--banner__competences-card-title h6 {
  font-size: 3.2rem;
  font-weight: 400;
  color: white;
  margin: 0; }

section .content--banner__competences-card-title svg {
  display: none; }

section .content--banner__competences-card-desc--mobile {
  display: none; }

section .content--banner__competences-card-desc--desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 65px 54px 0 54px;
  background-color: #262626;
  visibility: visible; }

section .content--banner__competences-card-desc--desktop p {
  color: white;
  font-size: 2rem;
  font-weight: 100;
  margin: 0 0 15px 0;
  max-width: 350px; }

section .content--banner__competences-card-desc--desktop__linksArea {
  max-width: 350px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 2rem;
  margin-bottom: 60px; }
  section .content--banner__competences-card-desc--desktop__linksArea a {
    text-decoration: none;
    text-transform: uppercase;
    color: white; }
    section .content--banner__competences-card-desc--desktop__linksArea a span {
      color: #F89D24; }

section#content--banner #callToAction {
  display: none; }

section .content__cardArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 18px; }

section .section .left-area {
  justify-content: flex-start; }

section .content__cardArea__card--section03 {
  max-width: 317px;
  width: 100%;
  height: auto;
  border: 1px solid #6E6E6E; }

section .content__card__photo img.content__card__photo--section03 {
  width: 100%;
  height: fit-content;
  max-width: 267px;
  max-height: 234px; }

section .content__card__textArea-title--section03 h5 {
  text-transform: uppercase;
  margin: 0;
  color: #F89D24; }

section .content__card__textArea-desc--section03 p {
  margin: 0;
  color: #b5b5b5; }

section#content--section03 #callToAction {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 60px 0 80px 0;
  gap: 30px; }

@media only screen and (max-width: 1440px) {
  main {
    padding: 25px 120px; }
  main .main__logo svg {
    width: 110px;
    height: 90px; }
  main > .main__title {
    margin-top: 100px; }
  main .main__title h1 {
    font-size: 4.8rem; }
  main .main__sub-title {
    height: auto;
    text-align: center;
    font-size: 2rem;
    color: #b5b5b5; }
  section .valueArea__valueButton {
    width: 500px; }
  section #content__textArea__callToAction {
    margin-left: 50px; }
  section .left-area__textArea__titleArea__squareStyle svg {
    width: 150px;
    height: 150px; }
  section .left-area__textArea__titleArea--title h2 {
    font-size: 4.8rem;
    padding-left: 50px;
    padding-top: 90px; }
  section .left-area__textArea__titleArea--desc p {
    padding-left: 50px; }
  section .content__cardArea {
    flex-direction: row;
    height: auto; }
  section#content #callToAction {
    display: none; }
  section#content--banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 60px 40px;
    background-image: url(../images/teacher.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat; }
  section#content--banner .left-area--section01 {
    display: none; }
  section .content--banner__competences-cards {
    display: flex;
    flex-direction: column;
    height: auto; }
  section .content--banner__competences-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: auto;
    background-color: #686868;
    padding: 40px 14px 15px 20px; }
  section .content--banner__competences-card-title h6 {
    font-size: 3.2rem;
    font-weight: 400;
    color: white;
    margin: 0; }
  section .content--banner__competences-card-title svg {
    display: none; }
  section .content--banner__competences-card-desc--mobile {
    display: none; }
  section .content--banner__competences-card-desc--desktop {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 65px 54px 0 54px;
    background-color: #262626;
    visibility: visible; }
  section .content--banner__competences-card-desc--desktop p {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 15px 0; }
  section .content--banner__competences-card-desc--desktop__linksArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 2rem; }
    section .content--banner__competences-card-desc--desktop__linksArea a {
      text-decoration: none;
      text-transform: uppercase;
      color: white; }
      section .content--banner__competences-card-desc--desktop__linksArea a span {
        color: #F89D24; } }

@media only screen and (max-width: 1234px) {
  section#content {
    flex-direction: column; }
  section .left-area--section01 {
    flex-direction: row;
    justify-content: space-around; }
  section #content__textArea__callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    gap: 0;
    margin-top: 0;
    margin-left: 50px; }
  section #content__textArea__callToAction div {
    flex-direction: column;
    width: 100%;
    text-align: left; }
  section #content__textArea__callToAction .outline {
    margin-bottom: 0; }
  section #content__textArea__callToAction p {
    color: white;
    font-size: 1.6rem;
    padding-left: 0;
    margin: 0; }
  section .content__cardArea {
    align-self: center; } }

@media only screen and (max-width: 1024px) {
  main {
    padding: 40px 25px;
    height: 740px; }
  main .main__logo svg {
    width: 110px;
    height: 90px; }
  main .main__title h1 {
    font-size: 4.8rem; }
  main .main__sub-title {
    height: auto;
    text-align: center;
    font-size: 2rem;
    color: #b5b5b5; }
  section#content {
    padding: 0 40px 40px 40px; }
  section#content--banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 60px 40px;
    background-image: url(../images/teacher.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat; }
  section#content--section03 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 40px;
    background: radial-gradient(circle, #2c2c2c 0%, #1a1a1a 100%); }
  section .left-area {
    justify-content: flex-start; }
  section .left-area__textArea {
    display: flex;
    flex-direction: column; }
  section #content__textArea__callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    gap: 0;
    margin-top: 0;
    margin-left: 50px; }
  section #content__textArea__callToAction div {
    flex-direction: column;
    width: 100%;
    text-align: left; }
  section #content__textArea__callToAction .outline {
    margin-bottom: 0; }
  section #content__textArea__callToAction p {
    color: white;
    font-size: 1.6rem;
    padding-left: 0;
    margin: 0; }
  section .left-area__textArea__titleArea {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start; }
  section .left-area__textArea__titleArea__squareStyle svg {
    width: 150px;
    height: 150px;
    position: absolute; }
  section .left-area__textArea__titleArea--title,
  section .left-area__textArea__titleArea--desc {
    text-align: left; }
  section .left-area__textArea__titleArea--title h2 {
    font-size: 4.8rem;
    padding-left: 50px;
    padding-top: 90px;
    font-weight: 400;
    color: white;
    margin: 0; }
  section .left-area__textArea__titleArea--desc {
    width: 460px; }
  section .left-area__textArea__titleArea--desc p {
    font-size: 2rem;
    padding-left: 50px;
    color: white; }
  section .left-area__textArea__titleArea--desc p span {
    font-weight: 700; }
  section .content__cardArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 678px;
    height: auto;
    gap: 18px; }
  section .content__cardArea__card {
    width: 258px;
    height: 255px;
    border: 1px solid #6E6E6E; }
  section .content__card__photo {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-block: 20px; }
  section .content__card__textArea {
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 700; }
  section .content__card__textArea-title h5 {
    text-transform: uppercase;
    margin: 0;
    color: #F89D24; }
  section .content__card__textArea-desc p {
    margin: 0;
    color: #b5b5b5; }
  section#content #callToAction {
    display: none; }
  section.valueArea {
    padding: 0; }
  section .valueArea__valueButton {
    width: 300px; }
  section .valueArea__valueButton p {
    width: 300px;
    font-size: 4.8rem; }
  section .valueArea__valueButton .full {
    width: 200px; }
  section#content--banner .left-area {
    display: none; }
  section .content--banner__competences-cards {
    display: flex;
    flex-direction: column;
    height: auto; }
  section .content--banner__competences-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: auto;
    background-color: #686868;
    padding: 40px 14px 15px 20px; }
  section .content--banner__competences-card-title h6 {
    font-size: 3.2rem;
    font-weight: 400;
    color: white;
    margin: 0; }
  section .content--banner__competences-card-title svg {
    display: none; }
  section .content--banner__competences-card-desc--mobile {
    display: none; }
  section .content--banner__competences-card-desc--desktop {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 65px 54px 0 54px;
    background-color: #262626;
    visibility: visible; }
  section .content--banner__competences-card-desc--desktop p {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 15px 0; }
  section .content--banner__competences-card-desc--desktop__linksArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 2rem; }
    section .content--banner__competences-card-desc--desktop__linksArea a {
      text-decoration: none;
      text-transform: uppercase;
      color: white; }
      section .content--banner__competences-card-desc--desktop__linksArea a span {
        color: #F89D24; }
  section#content--banner #callToAction {
    display: none; }
  section .section .left-area {
    justify-content: flex-start; }
  section .content__cardArea__card--section03 {
    max-width: 317px;
    width: 100%;
    height: auto;
    border: 1px solid #6E6E6E; }
  section .content__card__photo img.content__card__photo--section03 {
    width: 100%;
    height: fit-content;
    max-width: 267px;
    max-height: 234px; }
  section .content__card__textArea-title--section03 h5 {
    text-transform: uppercase;
    margin: 0;
    color: #F89D24; }
  section .content__card__textArea-desc--section03 p {
    margin: 0;
    color: #b5b5b5; } }

@media only screen and (max-width: 820px) {
  main {
    height: 740px; } }

@media only screen and (max-width: 768px) {
  main {
    padding: 35px 20px;
    height: 100vh; }
  main .main__logo svg {
    width: 69px;
    height: 56px; }
  main > .main__title {
    margin-top: 0; }
  main .main__title h1 {
    margin: 0 0 20px 0;
    font-size: 4.8rem; }
  main .main__sub-title {
    font-size: 1.4rem; }
  main #callToAction {
    flex-direction: column; }
  section#content--banner {
    display: flex;
    width: 100%;
    background-image: url(../images/teacher.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 0 40px 60px 40px; }
  section .left-area__textArea {
    display: flex;
    flex-direction: column; }
  section #content__textArea__callToAction {
    display: none; }
  section .left-area__textArea__titleArea__squareStyle svg {
    width: 105px;
    height: 100px; }
  section .left-area__textArea__titleArea--title h2 {
    width: 200px;
    font-size: 4.2rem;
    padding-top: 50px;
    padding-left: 8px;
    margin: 0; }
  section .left-area__textArea__titleArea--desc {
    width: 100%;
    margin-bottom: 30px; }
  section .left-area__textArea__titleArea--desc p {
    font-size: 1.6rem;
    padding-left: 0;
    color: #b5b5b5;
    margin: 0; }
  section#content #callToAction,
  section#content--banner #callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    gap: 30px; }
  section .content__cardArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    gap: 30px; }
  section .content__cardArea__card {
    width: 100%;
    max-width: 258px;
    height: auto;
    border: 1px solid #6E6E6E; }
  section .content__card__photo {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-block: 20px; }
  section .content__card__textArea {
    width: 100%;
    height: auto;
    padding: 0 20px 20px 20px;
    font-size: 1.6rem;
    font-weight: 700; }
  section .content__card__textArea-title h5 {
    text-transform: uppercase;
    margin: 0;
    color: #F89D24; }
  section .content__card__textArea-desc p {
    margin: 0;
    color: #b5b5b5; }
  section.valueArea {
    flex-direction: column; }
  section .valueArea__slogan {
    width: 100%;
    height: auto;
    background-image: url(../images/HexagonosBackground.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  section .valueArea__slogan h5 {
    font-size: 4rem;
    margin: 0;
    padding: 35px 25px; }
  section .valueArea__valueButton {
    width: 100%;
    height: auto;
    padding: 35px 64px;
    margin-block: 0; }
  section .valueArea__valueButton p {
    padding: 35px 25px;
    margin: 0; }
  section .valueArea__valueButton .full {
    color: #F89D24;
    background: white; }
  section#content--banner .left-area {
    display: flex;
    justify-content: flex-start; }
  section .content--banner__competences-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; }
  section .content--banner__competences-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #686868;
    padding: 10px 15px; }
  section .content--banner__competences-card-title h6 {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    margin: 0; }
  section .content--banner__competences-card-title svg {
    display: block;
    width: 11px;
    height: 6px;
    transform: rotate(180deg); }
  section .content--banner__competences-card-desc--mobile {
    display: none;
    width: 100%;
    height: auto;
    padding: 25px 32px;
    background-color: #262626; }
  section .content--banner__competences-card-desc--desktop {
    display: none; }
  section .content--banner__competences-card-desc--mobile p {
    color: white;
    font-size: 1.6rem; }
  section .content__cardArea__card--section03 {
    max-width: 317px;
    width: 100%;
    height: auto;
    border: 1px solid #6E6E6E; }
  section .content__card__photo img.content__card__photo--section03 {
    width: 100%;
    height: fit-content;
    max-width: 267px;
    max-height: 234px; }
  section .content__card__textArea-title--section03 h5 {
    text-transform: uppercase;
    margin: 0;
    color: #F89D24; }
  section .content__card__textArea-desc--section03 p {
    margin: 0;
    color: #b5b5b5; }
  section
.content__cardArea
.content__cardArea__card--section03:nth-last-child(-n + 2) {
    display: none; } }

@media only screen and (max-width: 380px) {
  section .content__cardArea__card--section03 {
    width: 100%;
    height: auto; } }
