.full{
/* BOTÃO 1 */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px 50px;
gap: 10px;

position: relative;
width: 147px;
height: 61px;

background: $main-color;
border-radius: 5px;
}

.outline{
/* BOTÃO 2 */
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px 50px;
gap: 10px;

position: relative;
width: 147px;
height: 61px;

border: 1px solid #FFFFFF;
border-radius: 5px;
}