@import "colors";
@import "font";

.btn--full {
  /* BOTÃO 1 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  position: relative;
  width: 225px;
  height: 61px;

  background: $main-color;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: $sub-title3;
  font-weight: 700;
}

.btn--outline {
  /* BOTÃO 2 */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  position: relative;
  width: 225px;
  height: 61px;

  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: $sub-title3;
  font-weight: 700;
}
