/*MAIN ACTION*/
$main-color: #f89d24;
$main-color-medium: #ff9000;
$main-color-light: #fec024;
$main-color-lighter: #ffa700;

/*BACKGROUND*/
$background-main-color: #262626;
$background-secondary-color: #686868;

/*GRADIENT*/
$gradient-light-color: #2c2c2c;
$gradient-dark-color: #1a1a1a;

/*BORDER*/
$border-main-color: #6e6e6e;

//OTHERS//
$orange-dark: #ff4f00;
$orange-medium: #ff6a00;
$black: #000;
$grey: #b5b5b5;
$grey-dark: #707070;
$grey-darker: #0c0c0c;
