/*MAIN ACTION*/
$main-color:#F89D24;
$main-color-medium:#FF9000;
$main-color-light:#FEC024;
$main-color-lighter:#FFA700;

/*BACKGROUND*/
$background-main-color:#262626;
$background-secondary-color:#686868;

/*GRADIENT*/
$gradient-light-color:#2C2C2C;
$gradient-dark-color:#1a1a1a;

/*BORDER*/
$border-main-color:#6E6E6E;

//OTHERS//
$orange-dark:#FF4F00;
$orange-medium:#FF6A00;
$black:#000;
$grey:#b5b5b5;
$grey-dark:#707070;
$grey-darker:#0c0c0c;
