$title-h1:6.4rem;//////////////64px
$title-h2:4.8rem;//////////////48px
$title-h3:3.2rem;//////////////32px
$title-h4:2.4rem;////////////24px

$sub-title1:3.2rem;/////////////32px
$sub-title2:2.4rem;///////////24px
$sub-title3:1.6rem;/////////////16px

$body-font1:2.4rem;//////////24px
$body-font2:1.6rem;/////////////16px
