$title-h1:4rem;//////////////64px
$title-h2:3rem;//////////////48px
$title-h3:2rem;//////////////32px
$title-h4:1.5rem;////////////24px

$sub-title1:2rem;/////////////32px
$sub-title2:1.5rem;///////////24px
$sub-title3:1rem;/////////////16px

$body-font1:1.25rem;//////////24px
$body-font2:1rem;/////////////16px
