@import "button";
@import "font";
@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");

:root {
  font-size: 62.5%; //62.5% = 10px = 1rem
  font-family: "Yantramanav", "Arial", sans-serif;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;

  a {
    text-decoration: none;
    text-transform: uppercase;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: radial-gradient(
    circle,
    rgba(44, 44, 44, 1) 0%,
    rgba(26, 26, 26, 1) 100%
  );
}
.container {
  margin: auto;
  max-width: 1440px;
  min-height: 840px;
  max-height: max-content;
  padding: 25px 120px;
}
//MAIN ////////////////////////////////////////////////////
main {
  min-height: 100vh;

  //TODAS AS CLASSES QUE FARÃO PARTE DE TÍTULOS FICARÃO ALINHADAS
  > div[class*="title"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > .main__title {
    margin-top: 125px;
    text-align: center;
    color: white;
    h1 {
      font-size: $title-h1;
      margin: 0 0 35px 0;
      max-width: 750px;
      width: auto;
      font-weight: 400;
    }
  }
  .main__sub-title {
    text-align: center;
    font-size: $sub-title2;
    color: $grey;
    p {
      width: auto;
      max-width: 583px;
      margin: 0;
    }
  }
  #callToAction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 65px 0 20px 0;

    a {
      :hover {
        background: $main-color-lighter;
      }
    }
  }
}
//SECTION 01 ////////////////////////////////////////////////////
section.container--section {
  min-height: 840px;
  max-height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px 100px 120px;

  //LEFT-AREA TEXT//////////////////////////////////////////////////
  .leftArea {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;

    &__textArea {
      width: 100%;
      padding: 0 50px 0 70px;
      display: flex;
      flex-direction: column;
      color: white;
      .leftArea__title,
      .leftArea__desc {
        max-width: 368px;
        height: auto;
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 15px;
      }
      .leftArea__title h2 {
        font-size: $title-h1;
        padding-top: 120px;
        font-weight: 400;
        margin: 0;
      }
      .leftArea__desc p {
        font-size: 2rem;
        span {
          font-weight: 700;
        }
      }
    }
    #leftArea__callToAction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 0;
      margin-top: 0;
      padding: 0 50px 0 70px;
      div {
        width: 100%;
        p {
          color: white;
          font-size: $body-font2;
          margin: 0;
          text-align: end;
          padding-right: 66px;
        }
      }
    }

    &__buttonArea {
      display: flex;
      flex-direction: row;
      gap: 30px;
      a {
        //text-decoration: none;
        width: 100%;
        :hover {
          background: $main-color-lighter;
        }
      }
    }
  }
  //RIGHT-AREA CARDS////////////////////////////////////////////////
  .rightArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 545px;
    height: 660px;
    gap: 30px;

    &__card {
      width: 258px;
      height: 255px;
      border: 1px solid $border-main-color;

      .rightArea__image {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px;

        img.rightArea__image--section01 {
          width: 98px;
          height: 96px;
        }
      }
      .rightArea__textArea {
        width: 100%;
        height: auto;
        padding: 20px;
        font-size: $body-font2;
        font-weight: 700;
        .rightArea__title h3 {
          text-transform: uppercase;
          margin: 0;
          color: $main-color;
        }
        .rightArea__desc p {
          margin: 0;
          color: $grey;
        }
      }
    }
  }
  #container--section__callToAction {
    display: none;
  }
}
//BANNER-AREA ////////////////////////////////////////////////////
section.bannerValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url(../images/HexagonosBackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 0 120px;

  .bannerValue__textArea h3 {
    max-width: 706px;
    font-size: $title-h2;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 66px 40px;
    line-height: 52.5px;
  }
  .bannerValue__callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    height: auto;
    background-color: $main-color;
    padding: 60px 28px;
    margin-block: 40px;
    a {
      //text-decoration: none;
      :hover {
        background: $orange-medium;
        color: white;
      }
    }
    p {
      width: 368px;
      color: white;
      font-size: $title-h1;
      margin: 0 0 25px 0;
    }
    .btn--value {
      color: $main-color;
      background: white;
    }
  }
}
//SECTION 02 ////////////////////////////////////////////////////
section.competencesBackground {
  padding: 116px 0;
  background-image: url(../images/teacherBig.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //background-attachment: fixed;

  .container--components {
    display: flex;
    flex-direction: column;
    min-height: auto;
    .leftArea {
      display: none;
    }
    .accordionArea {
      display: flex;
      flex-direction: column;
      position: relative;
      height: auto;
      &__items {
        display: flex;
        flex-direction: column;
        .accordionArea__item {
          display: flex;
          flex-direction: column;
          input {
            display: none;
          }
          .accordionArea__title {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 460px;
            max-height: 50px;
            height: auto;
            background-color: $background-secondary-color;
            padding: 60px 15px 40px 15px;
            .accordionArea__label {
              display: flex;
              margin-bottom: 5px;
              label {
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-size: $title-h3;
                font-weight: 400;
                color: white;
                margin: 0;
                cursor: pointer;
                svg {
                  display: none;
                }
              }
            }
            div.accordionArea__line {
              visibility: hidden;
              align-self: flex-end;
              width: 75%;
              height: 2px;
              background-color: $main-color;
            }
          }
          .accordionArea__desc--desktop {
            visibility: hidden;
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            position: absolute;
            left: 460px;
            top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            //gap: 15px;
            padding: 100px 125px 50px 125px;
            background-color: $background-main-color;
            p {
              color: white;
              font-size: 2rem;
              font-weight: 100;
              margin: 0 0 15px 0;
              max-width: 569px;
            }
            .accordionArea__linksArea {
              max-width: 350px;
              display: flex;
              justify-content: flex-end;
              gap: 30px;
              font-size: 2rem;
              margin-bottom: 20px;

              a {
                color: white;

                span {
                  color: $main-color;
                }
              }
            }
          }
          [id^="accordion"]:checked ~ .accordionArea__desc--desktop {
            visibility: visible;
          }
          [id^="accordion"]:checked ~ * .accordionArea__line {
            visibility: visible;
          }
          .accordionArea__desc--mobile {
            display: none; //DISPLAY NONE ATÉ SER ATIVIDADO PELO EVENTO DE CLICK
            flex-direction: column;
            align-items: center;
            padding: 25px 32px;
            background-color: $background-main-color;
            p {
              color: white;
              font-size: 2rem;
              font-weight: 100;
              margin: 0;
              max-width: 350px;
            }
          }
        }
      }
    }
  }
  #competencesBackground__callToAction {
    display: none;
  }
}
//SECTION 03 ////////////////////////////////////////////////////
section.container--section03 {
  flex-direction: column;
  //LEFT-AREA TEXT//////////////////////////////////////////////////
  .leftArea {
    justify-content: flex-start;
  }
  //RIGHT-AREA CARDS////////////////////////////////////////////////
  .rightArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 18px;
    .rightArea__card {
      max-width: 317px;
      width: 100%;
      height: auto;
      border: 1px solid $border-main-color;
      .rightArea__image {
        img.rightArea__image--section03 {
          width: 100%;
          height: fit-content;
          max-width: 267px;
          max-height: 234px;
        }
      }
      .rightArea__title h3 {
        text-transform: uppercase;
        margin: 0;
        color: $main-color;
      }
      .rightArea__desc p {
        margin: 0;
        color: $grey;
      }
    }
  }
  #callToAction {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 60px 0 80px 0;
    gap: 30px;
    a {
      :hover {
        background: $main-color-lighter;
      }
    }
  }
}
//BANNER FEEDBACK - CARDS ////////////////////////////////////////////////////
section.container--feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 768px;
  background-image: url(../images/opinion@2x.jpg);
  background-position: center;
  background-size: cover;
  .container--feedback__borderAngle--01 {
    align-self: flex-end;
  }
  .feedbackContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    height: 460px;
    &__feedbackArea {
      display: flex;
      //align-items: center;
      //justify-content: center;
      width: 100%;
      .feedbackContent__feedbacks {
        width: 960px;
        height: 278px;
        position: relative;
        //width: 500%;
        //height: 100%;
        input {
          display: none;
        }
        .feedbackContent__feedback {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          //width: 20%;
          //background: none;
          //padding-left: 30px;
          .feedbackContent__text {
            display: flex;
            flex-direction: column;
            padding-top: 120px;
            .feedbackContent__desc {
              color: white;
              font-size: $title-h2;
              margin: 0;
              text-align: center;
              padding-inline: 40px;
            }
            .feedbackContent__title {
              align-self: flex-end;
              text-align: right;
              color: $main-color;
              h4 {
                font-size: 2rem;
                text-transform: uppercase;
              }
            }
          }
          label.feedbackContent__feedbacks__arrow--02,
          label.feedbackContent__feedbacks__arrow--01 {
            cursor: pointer;
            svg:hover {
              path {
                fill: white;
              }
            }
          }
          label.feedbackContent__feedbacks__arrow--02 {
            transform: rotate(180deg);
          }
        }
        //FEEDBACK CARDS ////////////////////////////////////
        .s1,
        .s2,
        .s3,
        .s4 {
          z-index: 1;
          opacity: 0;
        }
        #feedback1:checked ~ .s1 {
          z-index: 2;
          opacity: 1;
        }
        #feedback2:checked ~ .s2 {
          z-index: 3;
          opacity: 1;
          ~ .s1 {
            opacity: 0;
          }
        }
        #feedback3:checked ~ .s3 {
          z-index: 4;
          opacity: 1;
          ~ .s1,
          ~ .s2 {
            opacity: 0;
          }
        }
        #feedback4:checked ~ .s4 {
          z-index: 5;
          opacity: 1;
          ~ .s1,
          ~ .s2,
          ~ .s3 {
            opacity: 0;
          }
        }
      }
      [id^="feedback"] {
        display: none;
      }
    }
    &__navigation {
      label {
        margin-inline: 30px;
        cursor: pointer;
      }
    }
  }
  .container--feedback__borderAngle--02 {
    align-self: flex-start;
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 1400px) {
  //SECTION 02 ////////////////////////////////////////////////////
  section.competencesBackground {
    .container--components {
      .accordionArea {
        .accordionArea__items {
          .accordionArea__item {
            .accordionArea__title {
              width: 420px;
            }
            .accordionArea__desc--desktop {
              padding: 100px 80px 65px 80px;
              left: 420px;
            }
          }
        }
      }
    }
  }
  //BANNER FEEDBACK - CARDS ////////////////////////////////////////////////////
  section.container--feedback {
    .container--feedback__borderAngle--01 {
    }
    .feedbackContent {
      max-width: 820px;
    }
  }
}
@media only screen and (max-width: 1234px) {
  //SECTION 01 ////////////////////////////////////////////////////
  section.container--section {
    max-height: max-content;
    flex-direction: column;
    padding: 0 120px 100px 120px;
    //LEFT-AREA TEXT////////////////////////////////////////////////
    .leftArea {
      max-width: 100%;
      flex-direction: row;
      &__textArea {
        .leftArea__desc {
          max-width: 415px;
        }
      }
      #leftArea__callToAction {
        width: 428px;
        padding: 0 0px 0 100px;
        p {
          text-align: start;
          padding-right: 0;
          margin-bottom: 10px;
        }
      }
      &__buttonArea {
        flex-direction: column;
      }
    }
    //RIGHT-AREA CARDS////////////////////////////////////////////////
    .rightArea {
      align-self: center;
    }
  }
  //SECTION 02 ////////////////////////////////////////////////////
  section.competencesBackground {
    .container--components {
      .accordionArea {
        .accordionArea__items {
          .accordionArea__item {
            .accordionArea__title {
              width: 296px;
            }
            .accordionArea__desc--desktop {
              padding: 100px 30px 65px 30px;
              left: 296px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    padding: 25px 40px;
  }
  //SECTION 01 ////////////////////////////////////////////////////
  section.container--section {
    padding: 0 40px 80px 40px;

    //LEFT-AREA TEXT////////////////////////////////////////////////
    .leftArea {
      #leftArea__callToAction {
        width: 238px;
        padding: 0;
      }
    }
  }
  //BANNER-AREA ////////////////////////////////////////////////////
  section.bannerValue {
    padding: 0;

    .bannerValue__callToAction {
      width: 300px;
      p {
        width: 300px;
        font-size: $title-h2;
      }
      .btn--full {
        width: 200px;
      }
    }
  }
  //SECTION 02 ////////////////////////////////////////////////////
  section.competencesBackground {
    .container--components {
      .accordionArea {
        .accordionArea__items {
          .accordionArea__item {
            .accordionArea__title {
              width: 230px;
              padding: 60px 15px 40px 15px;
            }
            .accordionArea__desc--desktop {
              left: 230px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 820px) {
  //MAIN ////////////////////////////////////////////////////
  main {
    height: 740px;
  }
  //SECTION 02 ////////////////////////////////////////////////////
  section.competencesBackground {
    background-position: left;
    .container--components {
      .accordionArea {
        .accordionArea__items {
          .accordionArea__item {
            .accordionArea__title {
              width: 296px;
            }
            .accordionArea__desc--desktop {
              padding: 100px 20px 45px 20px;
              left: 296px;
              .accordionArea__linksArea {
                font-size: 1.8rem;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 25px 40px;
  }
  //MAIN ////////////////////////////////////////////////////
  main {
    .main__logo svg {
      width: 68px;
      height: 56px;
    }
  }
  section#content--banner {
    display: flex;
    //flex-direction: row;
    width: 100%;
    //padding: 60px 40px;
    background-image: url(../images/teacher.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 0 40px 60px 40px;
  }
  //SECTION 01 ////////////////////////////////////////////////////
  section.container--section {
    padding: 0 40px 80px 40px;

    //LEFT-AREA TEXT////////////////////////////////////////////////
    .leftArea {
      #leftArea__callToAction {
        width: 238px;
        padding: 0;
      }
    }
  }
  //BANNER-AREA ////////////////////////////////////////////////////
  section.bannerValue {
    flex-direction: column;

    .bannerValue__textArea h3 {
      width: 100%;
      font-size: $title-h2;
      margin: 0;
      padding: 35px 25px;
    }
    .bannerValue__callToAction {
      width: 100%;
      height: auto;
      padding: 35px 64px;
      margin-block: 0;
      p {
        font-size: $title-h2;
      }
      .btn--value p {
        padding: 35px 25px;
        margin: 0;
      }
    }
  }
  //SECTION 02 ////////////////////////////////////////////////////
  section.competencesBackground {
    height: 1040px;
    padding: 0;
    .container--components {
      height: 100vh;
      padding-top: 0;
      justify-content: space-between;
      .leftArea {
        max-width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;

        &__textArea {
          width: 100%;
          padding: 0 50px 0 70px;
          display: flex;
          flex-direction: column;
          color: white;
          .leftArea__title,
          .leftArea__desc {
            max-width: 368px;
            height: auto;
            display: flex;
            align-items: flex-start;
            text-align: left;
            margin-bottom: 15px;
          }
          .leftArea__title h2 {
            font-size: $title-h1;
            padding-top: 120px;
            font-weight: 400;
            margin: 0;
          }
          .leftArea__desc p {
            font-size: 2rem;
            span {
              font-weight: 700;
            }
          }
        }
        #leftArea__callToAction {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 0;
          margin-top: 0;
          padding: 0 50px 0 70px;
          div {
            width: 100%;
            p {
              color: white;
              font-size: $body-font2;
              margin: 0;
              text-align: end;
              padding-right: 66px;
            }
          }
        }

        &__buttonArea {
          display: none;
        }
      }
      .accordionArea {
        .accordionArea__items {
          .accordionArea__item {
            .accordionArea__title {
              width: 100%;
              padding: 10px 20px;
              max-height: 70px;
              .accordionArea__label {
                width: 100%;
                justify-content: space-between;
                align-items: center;

                label {
                  font-size: 2rem;
                }

                svg {
                  display: block;
                  transform: rotate(180deg);
                }
              }
              div.accordionArea__line {
                background: none;
              }
            }
            [id^="accordion"]:checked ~ .accordionArea__desc--mobile {
              display: flex;
            }
            .accordionArea__desc--desktop {
              display: none;
            }
          }
        }
      }
      #competencesBackground__callToAction {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-block: 30px;
      }
    }
  }
  //SECTION 03 ////////////////////////////////////////////////////
  section.container--section03 {
    flex-direction: column;
    //LEFT-AREA TEXT//////////////////////////////////////////////////
    .leftArea {
      justify-content: flex-start;
    }
    //RIGHT-AREA CARDS////////////////////////////////////////////////
    .rightArea {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      gap: 18px;
      .rightArea__card {
        max-width: 317px;
        width: 100%;
        height: auto;
        border: 1px solid $border-main-color;
        .rightArea__image {
          img.rightArea__image--section03 {
            width: 100%;
            height: fit-content;
            max-width: 267px;
            max-height: 234px;
          }
        }
        .rightArea__title h3 {
          text-transform: uppercase;
          margin: 0;
          color: $main-color;
        }
        .rightArea__desc p {
          margin: 0;
          color: $grey;
        }
      }
      .rightArea__card:nth-last-child(-n + 2) {
        display: none;
      }
    }
    #callToAction {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 60px 0 80px 0;
      gap: 30px;
    }
  }
}
@media only screen and (max-width: 600px) {
  //MAIN ////////////////////////////////////////////////////
  main {
    height: 840px;
    max-height: 920px;

    //TODAS AS CLASSES QUE FARÃO PARTE DE TÍTULOS FICARÃO ALINHADAS
    > .main__title {
      margin-top: 20px;
      h1 {
        font-size: $title-h2;
      }
    }
    .main__sub-title {
      font-size: 1.4rem;
      color: $grey;
    }
    #callToAction {
      flex-direction: column;
    }
  }
  //SECTION 01 ////////////////////////////////////////////////////
  section.container--section {
    max-height: max-content;
    flex-direction: column;
    //LEFT-AREA TEXT////////////////////////////////////////////////
    .leftArea {
      max-width: 100%;
      flex-direction: row;
      &__squareStyle {
        svg {
          width: 100px;
          height: 100px;
        }
      }
      &__textArea {
        padding: 0 0 0 10px;
        .leftArea__title {
          max-width: 278px;
          h2 {
            padding-top: 45px;
            font-size: $title-h2;
          }
        }
        .leftArea__desc {
          max-width: 100%;
        }
      }
      #leftArea__callToAction {
        display: none;
      }
    }
    //RIGHT-AREA CARDS////////////////////////////////////////////////
    .rightArea {
      flex-direction: row;
      align-self: center;
      height: auto;
      width: 100%;
      &__card {
        max-width: 258px;
        width: 100%;
        height: auto;
      }
    }
    #container--section__callToAction {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-block: 35px;
      gap: 30px;
      a {
        //text-decoration: none;
        :hover {
          background: $main-color-lighter;
        }
      }
    }
  }
  //SECTION 02 ////////////////////////////////////////////////////
  section.competencesBackground {
    background-position: left;
    .container--components {
      .leftArea {
        &__squareStyle {
          svg {
            width: 100px;
            height: 100px;
          }
        }
        &__textArea {
          padding: 0 0px 0 10px;
          .leftArea__title h2 {
            padding-top: 45px;
            font-size: $title-h2;
          }
        }
      }
    }
  }
  //SECTION 03 ////////////////////////////////////////////////////
  section.container--section03 {
    #callToAction {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 300px) {
  .container {
    padding: 25px 15px;
  }
  //MAIN ////////////////////////////////////////////////////
  main {
    > .main__title {
      h1 {
        font-size: $title-h3;
      }
    }
  }
  //SECTION 01 ////////////////////////////////////////////////////
  section.container--section {
    .leftArea {
      &__title h2 {
        font-size: $title-h2;
        padding-top: 140px;
        font-weight: 400;
        margin: 0;
      }
    }
    #container--section__callToAction {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-block: 35px;
      gap: 30px;

      .btn--outline,
      .btn--full {
        width: 165px;
      }
    }
  }
  //SECTION 03 ////////////////////////////////////////////////////
  section.container--section03 {
    flex-direction: column;
    //LEFT-AREA TEXT//////////////////////////////////////////////////
    .leftArea {
      justify-content: flex-start;
      .leftArea__textArea {
        .leftArea__title h2 {
          font-size: 4rem;
        }
      }
    }
  }
}
