@import "button";
@import "font";
@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");

:root {
  font-size: 62.5%; //62.5% = 10px = 1rem
  font-family: "Yantramanav", "Arial", sans-serif;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: radial-gradient(
    circle,
    rgba(44, 44, 44, 1) 0%,
    rgba(26, 26, 26, 1) 100%
  );
}
.container {
  margin: auto;
  max-width: 1440px;
  max-height: 840px;
  padding: 25px 120px;
}
main {
  min-height: 100vh;

  //TODAS AS CLASSES QUE FARÃO PARTE DE TÍTULOS FICARÃO ALINHADAS
  > div[class*="title"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > .main__title {
    margin-top: 125px;
    text-align: center;
    color: white;
    h1 {
      font-size: $title-h1;
      margin: 0 0 35px 0;
      max-width: 750px;
      width: auto;
      font-weight: 400;
    }
  }
  .main__sub-title {
    text-align: center;
    font-size: $sub-title2;
    color: $grey;
    p {
      width: auto;
      max-width: 583px;
      margin: 0;
    }
  }
  #callToAction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 65px 0 20px 0;

    a {
      text-decoration: none;

      :hover {
        background: $main-color-lighter;
      }
    }
  }
}
//SECTION 01 ////////////////////////////////////////////////////
section.section__container {
  margin: auto;
  max-width: 1440px;
  max-height: 840px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px 100px 120px;

  //LEFT-AREA TEXT//////////////////////////////////////////////////
  .section__container__leftArea--section01 {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;

    .section__container__leftArea__textArea {
      width: 100%;
      padding: 0 50px 0 70px;
      display: flex;
      flex-direction: column;
      color: white;
    }
    .section__container__leftArea__textArea--title,
    .section__container__leftArea__textArea--desc {
      max-width: 368px;
      height: auto;
      display: flex;
      align-items: flex-start;
      text-align: left;
      margin-bottom: 15px;
    }

    .section__container__leftArea__textArea--title h2 {
      font-size: $title-h1;
      padding-top: 120px;
      font-weight: 400;
      margin: 0;
    }
    .section__container__leftArea__textArea--desc p {
      font-size: 2rem;
    }
    .section__container__leftArea__textArea--desc p span {
      font-weight: 700;
    }
    #section__container__leftArea__section01__callToAction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 0;
      margin-top: 0;
      padding: 0 50px 0 70px;
    }
    #section__container__leftArea__section01__callToAction div {
      width: 100%;
    }
    #section__container__leftArea__section01__callToAction p {
      color: white;
      font-size: $body-font2;
      margin: 0;
      text-align: end;
      padding-right: 66px;
    }
    .section__container__leftArea__section01__callToAction__buttonArea {
      display: flex;
      flex-direction: row;
      gap: 30px;

      a {
        text-decoration: none;
        width: 100%;

        :hover {
          background: $main-color-lighter;
        }
      }
    }
  }
  //RIGHT-AREA CARDS////////////////////////////////////////////////
  .section__container__rightArea__cardArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 545px;
    height: 660px;
    gap: 30px;

    .section__container__rightArea__cardArea__card {
      width: 258px;
      height: 255px;
      border: 1px solid $border-main-color;
    }
    .section__container__rightArea__cardArea__card__image {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 20px;

      img.section__container__rightArea__cardArea__card__image--section01 {
        width: 98px;
        height: 96px;
      }
    }
    .section__container__rightArea__cardArea__card__textArea {
      width: 100%;
      height: auto;
      padding: 20px;
      font-size: $body-font2;
      font-weight: 700;
    }
    .section__container__rightArea__cardArea__card__textArea--title h5 {
      text-transform: uppercase;
      margin: 0;
      color: $main-color;
    }
    .section__container__rightArea__cardArea__card__textArea--desc p {
      margin: 0;
      color: $grey;
    }
  }
  #callToAction {
    display: none;
  }
}
//BANNER-AREA ////////////////////////////////////////////////////
section.valueArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url(../images/HexagonosBackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 0 120px;

  .valueArea__textArea h3 {
    max-width: 706px;
    font-size: $title-h2;
    font-weight: 400;
    color: white;
    padding: 66px 40px;
    line-height: 52.5px;
  }
  .valueArea__callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    height: auto;
    background-color: $main-color;
    padding: 60px 28px;
    margin-block: 40px;

    a {
      text-decoration: none;

      :hover {
        background: $orange-medium;
        color: white;
      }
    }
  }
  .valueArea__callToAction p {
    width: 368px;
    color: white;
    font-size: $title-h1;
    margin: 0 0 25px 0;
  }
  .valueArea__callToAction .full {
    color: $main-color;
    background: white;
  }
}

section#content--banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 116px 145px 116px 160px;
  background-image: url(../images/teacher.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  //background-attachment: fixed;
}
section#content--section03 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 120px 100px 120px;
  background: radial-gradient(
    circle,
    rgba(44, 44, 44, 1) 0%,
    rgba(26, 26, 26, 1) 100%
  );
}

section#content--banner .left-area {
  display: none;
}
section .content--banner__competences-cards {
  display: flex;
  flex-direction: column;
  height: auto;
}
section .content--banner__competences-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: auto;
  background-color: $background-secondary-color;
  padding: 40px 14px 15px 20px;
}
section .content--banner__competences-card-title h6 {
  font-size: $title-h3;
  font-weight: 400;
  color: white;
  margin: 0;
}
section .content--banner__competences-card-title svg {
  display: none;
}
section .content--banner__competences-card-desc--mobile {
  display: none; //DISPLAY NONE ATÉ SER ATIVIDADO PELO EVENTO DE CLICK
}
section .content--banner__competences-card-desc--desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 65px 54px 0 54px;
  background-color: $background-main-color;
  visibility: visible;
}
section .content--banner__competences-card-desc--desktop p {
  color: white;
  font-size: 2rem;
  font-weight: 100;
  margin: 0 0 15px 0;
  max-width: 350px;
}
section .content--banner__competences-card-desc--desktop__linksArea {
  max-width: 350px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 2rem;
  margin-bottom: 60px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;

    span {
      color: $main-color;
    }
  }
}
section#content--banner #callToAction {
  display: none;
}
section .content__cardArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 18px;
}
section .section .left-area {
  justify-content: flex-start;
}
section .content__cardArea__card--section03 {
  max-width: 317px;
  width: 100%;
  height: auto;
  border: 1px solid $border-main-color;
}
section .content__card__photo {
  img.content__card__photo--section03 {
    width: 100%;
    height: fit-content;
    max-width: 267px;
    max-height: 234px;
  }
}
section .content__card__textArea-title--section03 h5 {
  text-transform: uppercase;
  margin: 0;
  color: $main-color;
}
section .content__card__textArea-desc--section03 p {
  margin: 0;
  color: $grey;
}
section#content--section03 #callToAction {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 60px 0 80px 0;
  gap: 30px;
}
@media only screen and (max-width: 1234px) {
  section.section__container {
    max-height: max-content;
    flex-direction: column;
    padding: 0 120px 100px 120px;

    //LEFT-AREA TEXT////////////////////////////////////////////////
    .section__container__leftArea--section01 {
      max-width: 100%;
      flex-direction: row;

      .section__container__leftArea__textArea--desc {
        max-width: 415px;
      }
      #section__container__leftArea__section01__callToAction {
        width: 428px;
        padding: 0 0px 0 100px;
      }
      #section__container__leftArea__section01__callToAction p {
        text-align: start;
        padding-right: 0;
        margin-bottom: 10px;
      }
      .section__container__leftArea__section01__callToAction__buttonArea {
        flex-direction: column;
      }
    }

    //RIGHT-AREA CARDS////////////////////////////////////////////////
    .section__container__rightArea__cardArea {
      align-self: center;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    padding: 25px 40px;
  }
  section.section__container {
    padding: 0 40px 80px 40px;

    //LEFT-AREA TEXT////////////////////////////////////////////////
    .section__container__leftArea--section01 {
      #section__container__leftArea__section01__callToAction {
        width: 238px;
        padding: 0;
      }
    }
  }

  section.valueArea {
    padding: 0;
  }
  section .valueArea__callToAction {
    width: 300px;
  }
  section .valueArea__callToAction p {
    width: 300px;
    font-size: $title-h2;
  }
  section .valueArea__callToAction .full {
    width: 200px;
  }
  section#content--banner .left-area {
    display: none;
  }
  section .content--banner__competences-cards {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  section .content--banner__competences-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: auto;
    background-color: $background-secondary-color;
    padding: 40px 14px 15px 20px;
  }
  section .content--banner__competences-card-title h6 {
    font-size: $title-h3;
    font-weight: 400;
    color: white;
    margin: 0;
  }
  section .content--banner__competences-card-title svg {
    display: none;
  }
  section .content--banner__competences-card-desc--mobile {
    display: none; //DISPLAY NONE ATÉ SER ATIVIDADO PELO EVENTO DE CLICK
  }
  section .content--banner__competences-card-desc--desktop {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 65px 54px 0 54px;
    background-color: $background-main-color;
    visibility: visible;
  }
  section .content--banner__competences-card-desc--desktop p {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 15px 0;
  }
  section .content--banner__competences-card-desc--desktop__linksArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 2rem;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;

      span {
        color: $main-color;
      }
    }
  }
  section#content--banner #callToAction {
    display: none;
  }
  section .section .left-area {
    justify-content: flex-start;
  }
  section .content__cardArea__card--section03 {
    max-width: 317px;
    width: 100%;
    height: auto;
    border: 1px solid $border-main-color;
  }
  section .content__card__photo {
    img.content__card__photo--section03 {
      width: 100%;
      height: fit-content;
      max-width: 267px;
      max-height: 234px;
    }
  }
  section .content__card__textArea-title--section03 h5 {
    text-transform: uppercase;
    margin: 0;
    color: $main-color;
  }
  section .content__card__textArea-desc--section03 p {
    margin: 0;
    color: $grey;
  }
}
@media only screen and (max-width: 820px) {
  main {
    height: 740px;
  }
}
@media only screen and (max-width: 768px) {
  main {
    .main__logo svg {
      width: 68px;
      height: 56px;
    }
  }
  section#content--banner {
    display: flex;
    //flex-direction: row;
    width: 100%;
    //padding: 60px 40px;
    background-image: url(../images/teacher.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 0 40px 60px 40px;
  }
  .container {
    padding: 25px 40px;
  }
  section.section__container {
    padding: 0 40px 80px 40px;

    //LEFT-AREA TEXT////////////////////////////////////////////////
    .section__container__leftArea--section01 {
      #section__container__leftArea__section01__callToAction {
        width: 238px;
        padding: 0;
      }
    }
  }
  section.valueArea {
    flex-direction: column;
  }
  section .valueArea__textArea {
    width: 100%;
    height: auto;
    background-image: url(../images/HexagonosBackground.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section .valueArea__textArea h5 {
    font-size: 4rem;
    margin: 0;
    padding: 35px 25px;
  }
  section .valueArea__callToAction {
    width: 100%;
    height: auto;
    padding: 35px 64px;
    margin-block: 0;
  }
  section .valueArea__valueButton p {
    padding: 35px 25px;
    margin: 0;
  }
  section .valueArea__valueButton .full {
    color: $main-color;
    background: white;
  }
  section#content--banner .left-area {
    display: flex;
    justify-content: flex-start;
  }
  section .content--banner__competences-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  section .content--banner__competences-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $background-secondary-color;
    padding: 10px 15px;
  }
  section .content--banner__competences-card-title h6 {
    font-size: $body-font2;
    font-weight: 400;
    color: white;
    margin: 0;
  }
  section .content--banner__competences-card-title svg {
    display: block;
    width: 11px;
    height: 6px;
    transform: rotate(180deg);
  }
  section .content--banner__competences-card-desc--mobile {
    display: none; //DISPLAY NONE ATÉ SER ATIVIDADO PELO EVENTO DE CLICK
    width: 100%;
    height: auto;
    padding: 25px 32px;
    background-color: $background-main-color;
  }
  section .content--banner__competences-card-desc--desktop {
    display: none;
  }
  section .content--banner__competences-card-desc--mobile p {
    color: white;
    font-size: $body-font2;
  }
  section .content__cardArea__card--section03 {
    max-width: 317px;
    width: 100%;
    height: auto;
    border: 1px solid $border-main-color;
  }
  section .content__card__photo {
    img.content__card__photo--section03 {
      width: 100%;
      height: fit-content;
      max-width: 267px;
      max-height: 234px;
    }
  }
  section .content__card__textArea-title--section03 h5 {
    text-transform: uppercase;
    margin: 0;
    color: $main-color;
  }
  section .content__card__textArea-desc--section03 p {
    margin: 0;
    color: $grey;
  }
  section
    .content__cardArea
    .content__cardArea__card--section03:nth-last-child(-n + 2) {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  main {
    height: 840px;
    max-height: 920px;

    //TODAS AS CLASSES QUE FARÃO PARTE DE TÍTULOS FICARÃO ALINHADAS
    > .main__title {
      margin-top: 20px;
      h1 {
        font-size: $title-h2;
      }
    }
    .main__sub-title {
      font-size: 1.4rem;
      color: $grey;
    }
    #callToAction {
      flex-direction: column;
    }
  }
  section.section__container {
    max-height: max-content;
    flex-direction: column;

    //LEFT-AREA TEXT////////////////////////////////////////////////
    .section__container__leftArea--section01 {
      max-width: 100%;
      flex-direction: row;

      .section__container__leftArea__textArea {
        padding: 0 0 0 10px;
      }
      .section__container__leftArea__textArea--desc {
        max-width: 100%;
      }

      #section__container__leftArea__section01__callToAction {
        display: none;
      }
    }
    //RIGHT-AREA CARDS////////////////////////////////////////////////
    .section__container__rightArea__cardArea {
      flex-direction: row;
      align-self: center;
      height: auto;
      width: 100%;

      .section__container__rightArea__cardArea__card {
        max-width: 258px;
        width: 100%;
        height: auto;
      }
    }

    #callToAction {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-block: 35px;
      gap: 30px;

      a {
        text-decoration: none;

        :hover {
          background: $main-color-lighter;
        }
      }
    }
  }
}
@media only screen and (max-width: 300px) {
  .container {
    padding: 25px 15px;
  }
  main {
    > .main__title {
      h1 {
        font-size: $title-h3;
      }
    }
  }
  section.section__container {
    .section__container__leftArea--section01 {
      .section__container__leftArea__textArea--title h2 {
        font-size: $title-h2;
        padding-top: 140px;
        font-weight: 400;
        margin: 0;
      }
    }
    #callToAction {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-block: 35px;
      gap: 30px;

      .outline,
      .full {
        width: 165px;
      }
    }
  }
}
