@import "button";
@import "font";
@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");

:root {
  font-size: 62.5%; //62.5% = 10px = 1rem
  font-family: "Yantramanav", "Arial", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  height: 804px;
  padding: 25px 120px;
  background: rgb(44, 44, 44);
  background: radial-gradient(
    circle,
    rgba(44, 44, 44, 1) 0%,
    rgba(26, 26, 26, 1) 100%
  );
}
main .main__title,
main .main__sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main__logo {
  width: 110px;
  height: 90px;

  svg {
    width: 100%;
    height: auto;
  }
}
main .main__title {
  margin-top: 125px;
  text-align: center;
  color: white;
}
main .main__title h1 {
  font-size: $title-h1;
  margin: 0;
  width: 750px;
  font-weight: 400;
}
main .main__sub-title {
  text-align: center;
  font-size: $sub-title2;
  color: $grey;
}
main .main__sub-title p {
  width: 583px;
}
main #callToAction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 85px;
}
#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px 100px 120px;
  background: radial-gradient(
    circle,
    rgba(44, 44, 44, 1) 0%,
    rgba(26, 26, 26, 1) 100%
  );
}
section .left-area {
  display: flex;
  flex-direction: column;
}
section .content__textArea {
  display: flex;
  flex-direction: column;
}
section #content__textArea__callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 0;
  margin-top: 0;
  margin-left: 77px;
}
section .content__textArea__callToAction__buttonArea {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
section #content__textArea__callToAction div {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
section #content__textArea__callToAction .outline {
  margin-bottom: 30px;
}
section #content__textArea__callToAction p {
  color: white;
  font-size: $body-font2;
  margin: 0;
  padding-left: 110px;
}
section .content__textArea__titleArea {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
section .content__textArea__titleArea__squareStyle svg {
  width: 200px;
  height: 200px;
  position: absolute;
}
section .content__textArea__titleArea--title,
section .content__textArea__titleArea--desc {
  text-align: left;
}
section .content__textArea__titleArea--title {
  width: 100%;
}
section .content__textArea__titleArea--title h2 {
  width: 368px;
  font-size: $title-h1;
  padding-left: 77px;
  padding-top: 120px;
  font-weight: 400;
  color: white;
  margin: 0;
}
section .content__textArea__titleArea--desc {
  width: 460px;
}
section .content__textArea__titleArea--desc p {
  font-size: 2rem;
  padding-left: 77px;
  color: white;
  margin: 0;
}
section .content__textArea__titleArea--desc p span {
  font-weight: 700;
}
section .content__cardArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 660px;
  margin-top: 80px;
  gap: 18px;
}
section .content__cardArea__card {
  width: 258px;
  height: 255px;
  border: 1px solid $border-main-color;
}
section .content__card__photo {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-block: 20px;
}
section .content__card__textArea {
  width: 100%;
  height: auto;
  padding-inline: 20px;
  font-size: $body-font2;
  font-weight: 700;
}
section .content__card__textArea-title h5 {
  text-transform: uppercase;
  margin: 0;
  color: $main-color;
}
section .content__card__textArea-desc p {
  margin: 0;
  color: $grey;
}
section#content #callToAction {
  display: none;
}
section.valueArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url(../images/HexagonosBackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 0 120px;
}
section .valueArea__slogan h5 {
  max-width: 706px;
  font-size: $title-h2;
  font-weight: 400;
  color: white;
  padding: 66px 40px;
  line-height: 52.5px;
}
section .valueArea__valueButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 660px;
  height: auto;
  background-color: $main-color;
  padding: 76px 28px;
  margin-block: 40px;
}
section .valueArea__valueButton p {
  width: 368px;
  color: white;
  font-size: $title-h1;
  margin: 0 0 25px 0;
}
section .valueArea__valueButton .full {
  color: $main-color;
  background: white;
}
@media only screen and (max-width: 1440px) {
  main {
    padding: 25px 120px;
    height: 740px;
  }
  main .main__logo svg {
    width: 110px;
    height: 90px;
  }
  main .main__title {
    margin-top: 100px;
  }
  main .main__title h1 {
    font-size: $title-h2;
  }
  main .main__sub-title {
    height: auto;
    text-align: center;
    font-size: 2rem;
    color: $grey;
  }
  section .valueArea__valueButton {
    width: 500px;
  }

  section #content__textArea__callToAction {
    margin-left: 50px;
  }
  section .content__textArea__titleArea__squareStyle svg {
    width: 150px;
    height: 150px;
  }
  section .content__textArea__titleArea--title h2 {
    font-size: $title-h2;
    padding-left: 50px;
    padding-top: 90px;
  }
  section .content__textArea__titleArea--desc p {
    padding-left: 50px;
  }
  section .content__cardArea {
    flex-direction: row;
    height: auto;
  }
  section#content #callToAction {
    display: none;
  }
}
@media only screen and (max-width: 1234px) {
  #content {
    flex-direction: column;
  }
  section .left-area {
    flex-direction: row;
  }
  section #content__textArea__callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    gap: 0;
    margin-top: 0;
    margin-left: 50px;
  }
  section #content__textArea__callToAction div {
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  section #content__textArea__callToAction .outline {
    margin-bottom: 0;
  }
  section #content__textArea__callToAction p {
    color: white;
    font-size: $body-font2;
    padding-left: 0;
    margin: 0;
  }
  section .content__cardArea {
    align-self: center;
  }
}
@media only screen and (max-width: 1024px) {
  main {
    padding: 40px 25px;
    height: 740px;
  }
  main .main__logo svg {
    width: 110px;
    height: 90px;
  }
  main .main__title {
    margin-top: 100px;
  }
  main .main__title h1 {
    font-size: $title-h2;
  }
  main .main__sub-title {
    height: auto;
    text-align: center;
    font-size: 2rem;
    color: $grey;
  }
  #content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px 40px 40px;
    background: radial-gradient(
      circle,
      rgba(44, 44, 44, 1) 0%,
      rgba(26, 26, 26, 1) 100%
    );
  }
  section .left-area {
    display: flex;
    flex-direction: row;
  }
  section .content__textArea {
    display: flex;
    flex-direction: column;
  }
  section #content__textArea__callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    gap: 0;
    margin-top: 0;
    margin-left: 50px;
  }
  section #content__textArea__callToAction div {
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  section #content__textArea__callToAction .outline {
    margin-bottom: 0;
  }
  section #content__textArea__callToAction p {
    color: white;
    font-size: $body-font2;
    padding-left: 0;
    margin: 0;
  }
  section .content__textArea__titleArea {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
  }
  section .content__textArea__titleArea__squareStyle svg {
    width: 150px;
    height: 150px;
    position: absolute;
  }
  section .content__textArea__titleArea--title,
  section .content__textArea__titleArea--desc {
    text-align: left;
  }
  section .content__textArea__titleArea--title h2 {
    font-size: $title-h2;
    padding-left: 50px;
    padding-top: 90px;
    font-weight: 400;
    color: white;
    margin: 0;
  }
  section .content__textArea__titleArea--desc {
    width: 460px;
  }
  section .content__textArea__titleArea--desc p {
    font-size: 2rem;
    padding-left: 50px;
    color: white;
  }
  section .content__textArea__titleArea--desc p span {
    font-weight: 700;
  }
  section .content__cardArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 545px;
    height: auto;
    margin-top: 80px;
    gap: 18px;
  }
  section .content__cardArea__card {
    width: 258px;
    height: 255px;
    border: 1px solid $border-main-color;
  }
  section .content__card__photo {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-block: 20px;
  }
  section .content__card__textArea {
    width: 100%;
    height: auto;
    padding-inline: 20px;
    font-size: $body-font2;
    font-weight: 700;
  }
  section .content__card__textArea-title h5 {
    text-transform: uppercase;
    margin: 0;
    color: $main-color;
  }
  section .content__card__textArea-desc p {
    margin: 0;
    color: $grey;
  }
  section#content #callToAction {
    display: none;
  }
  section.valueArea {
    padding: 0;
  }
  section .valueArea__valueButton {
    width: 300px;
  }
  section .valueArea__valueButton p {
    width: 300px;
    font-size: $title-h2;
  }
  section .valueArea__valueButton .full {
    width: 200px;
  }
  #content--banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 60px 40px 60px 40px;
    background-image: url(../images/teacher.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }
  section#content--banner .left-area {
    display: none;
  }
  section .content--banner__competences-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $background-secondary-color;
    padding: 40px 14px 40px 20px;
  }
  section .content--banner__competences-card:first-child {
    margin-top: 30px;
  }
  section .content--banner__competences-card h6 {
    font-size: $body-font2;
    font-weight: 400;
    color: white;
    margin: 0;
  }
  section .content--banner__competences-card svg {
    width: 11px;
    height: 6px;
    transform: rotate(180deg);
  }
  section .content--banner__competences-card-desc {
    display: flex; //DISPLAY NONE ATÉ SER ATIVIDADO PELO EVENTO DE CLICK
    width: 100%;
    height: auto;
    padding: 65px 54px;
    background-color: $background-main-color;
  }
  section .content--banner__competences-card-desc p {
    color: white;
    font-size: $body-font2;
  }
}
@media only screen and (max-width: 768px) {
  main {
    padding: 35px 20px;
    height: auto;
  }
  main .main__logo svg {
    width: 69px;
    height: 56px;
  }
  main .main__title {
    margin-top: 0;
  }
  main .main__title h1 {
    margin-top: 0;
    font-size: $title-h2;
  }
  main .main__sub-title {
    font-size: 1.4rem;
  }
  main #callToAction {
    flex-direction: column;
  }
  #content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #content--banner {
    flex-direction: column;
    width: 100%;
    padding: 0 40px 40px 40px;
  }
  section .content__textArea {
    display: flex;
    flex-direction: column;
  }
  section #content__textArea__callToAction {
    display: none;
  }
  section .content__textArea__titleArea__squareStyle svg {
    width: 105px;
    height: 100px;
  }
  section .content__textArea__titleArea--title h2 {
    width: 200px;
    font-size: 4.2rem;
    padding-top: 50px;
    padding-left: 8px;
    margin: 0;
  }
  section .content__textArea__titleArea--desc {
    width: 100%;
  }
  section .content__textArea__titleArea--desc p {
    font-size: $body-font2;
    padding-left: 0;
    color: $grey;
  }
  section#content #callToAction,
  section#content--banner #callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    gap: 30px;
  }
  section .content__cardArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    gap: 18px;
  }
  section .content__cardArea__card {
    width: 258px;
    height: 255px;
    border: 1px solid $border-main-color;
  }
  section .content__card__photo {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-block: 20px;
  }
  section .content__card__textArea {
    width: 100%;
    height: auto;
    padding-inline: 20px;
    font-size: $body-font2;
    font-weight: 700;
  }
  section .content__card__textArea-title h5 {
    text-transform: uppercase;
    margin: 0;
    color: $main-color;
  }
  section .content__card__textArea-desc p {
    margin: 0;
    color: $grey;
  }
  section.valueArea {
    flex-direction: column;
  }
  section .valueArea__slogan {
    width: 100%;
    height: auto;
    background-image: url(../images/HexagonosBackground.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section .valueArea__slogan h5 {
    font-size: 4rem;
    margin: 0;
    padding: 35px 25px;
  }
  section .valueArea__valueButton {
    width: 100%;
    height: auto;
    padding: 35px 64px;
    margin-block: 0;
  }
  section .valueArea__valueButton p {
    padding: 35px 25px;
    margin: 0;
  }
  section .valueArea__valueButton .full {
    color: $main-color;
    background: white;
  }
  section .content--banner__competences-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $background-secondary-color;
    padding: 10px 15px;
  }
  section .content--banner__competences-card:first-child {
    margin-top: 30px;
  }
  section .content--banner__competences-card h6 {
    font-size: $body-font2;
    font-weight: 400;
    color: white;
    margin: 0;
  }
  section .content--banner__competences-card svg {
    width: 11px;
    height: 6px;
    transform: rotate(180deg);
  }
  section .content--banner__competences-card-desc {
    display: none; //DISPLAY NONE ATÉ SER ATIVIDADO PELO EVENTO DE CLICK
    width: 100%;
    height: auto;
    padding: 25px 32px;
    background-color: $background-main-color;
  }
  section .content--banner__competences-card-desc p {
    color: white;
    font-size: $body-font2;
  }
}
